<mat-form-field class="pvt-mat-input" appearance="outline">
  <mat-label>Ticket ID</mat-label>
  <mat-icon matPrefix *ngIf="hasPrefix">mode_edit</mat-icon>
  <input
    matInput
    type="text"
    [formControl]="control"
    [placeholder]="placeholder"
  />
  <mat-error *ngIf="hasError()"> {{ errorMessage }} </mat-error>
  <!-- <mat-error *ngIf="false"> Email is <strong>required</strong> </mat-error> -->
  <button
    matSuffix
    mat-icon-button
    class="btn-cancel-icon clickable"
    aria-label="Clear"
    *ngIf="control.value && !hasSuffix"
    (click)="control.setValue('')"
  >
    <mat-icon class="cancel-icon">close</mat-icon>
  </button>
  <mat-icon matSuffix *ngIf="hasSuffix">mode_edit</mat-icon>
  <mat-hint *ngIf="hasHelpText">Errors appear instantly!</mat-hint>
  <mat-hint *ngIf="hasCountText" align="end">0 / 5</mat-hint>
</mat-form-field>

<div class="" style="background-color: aqua">
  <pre>
  {{ control.errors | json }}
</pre
  >
</div>
